<div class="nested-fields">
  <div class="field form-row mb-4">
    <div class="col-md-3">
      <%= f.label :menu, "種目：", class: "col-form-label" %>
      <%= f.select :menu, Workout::SELECT_OPTIONS, { include_blank: "選択して下さい" }, { class: "form-control", id: "select-field", required: true } %>
    </div>
  </div>
</div>
