<div class="container-fluid mt-3 bg-light">
  <div class="container">
    <div class="col-sm">
      <h2 class="my-1">体重推移</h2>
    </div>
    <div class="wrap-chart pt-3">
      <canvas id="myChart"></canvas>
    </div>
    <script> 
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: <%= @chartlabels %>,  
          datasets: [{
            label: "体重推移",
            data: <%= @bodyweightdata %>, // 縦軸にとる累積投稿数データを埋め込む
            backgroundColor: "red",
            borderColor: "#121554",
            fill: false
          }]
        },
        options: {
          scales: {
            xAxes: [{
              stacked: true,
              scaleLabel: {
                display: true,
                labelString: "日付",
              }
            }],
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: "体重(kg)",
              }
            }],
          },
          maintainAspectRatio: false,
        }
      });
    </script>
  </div>
</div>
