<div class="black">
  <div class="container" id="background">
    <div class="py-3 text-center text-white parent">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Be Strongerの特徴</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 p-4">
          <h4> <b>特徴１</b> </h4>
          <p>ワークアウトを簡単入力できます。<br>MAX重量早見表など気になるデータも標準装備！</p>
        </div>
        <div class="col-md-4 col-6 p-4">
          <h4> <b>特徴２</b> </h4>
          <p>種目毎に重量×回数のグラフ表示が可能です！<br>日々の体調データを連動させることで重量UPのコンディション管理が可能です。</p>
        </div>
        <div class="col-md-4 col-6 p-4">
          <h4> <b>特徴３</b> </h4>
          <p>毎日の体重、摂取カロリーをグラフ化し<br>管理が可能です。増量、減量に最適です◎</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="py-3 text-center text-white child">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Be Strongerの特徴</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="p-4 col-xs-9">
          <h4> <b>特徴１</b> </h4>
          <p>ワークアウトを簡単入力できます。<br>MAX重量早見表など気になるデータも標準装備！</p>
        </div>
        <div class="p-4 col-xs-9">
          <h4> <b>特徴２</b> </h4>
          <p>種目毎に重量×回数のグラフ表示が可能です！<br>日々の体調データを連動させることで重量UPのコンディション管理が可能です。</p>
        </div>
        <div class="p-4 col-xs-9">
          <h4> <b>特徴３</b> </h4>
          <p>毎日の体重、摂取カロリーをグラフ化し<br>管理が可能です。増量、減量に最適です◎</p>
        </div>
      </div>
    </div>
  <div>
</div>
